@import './common';

// UTILS STYLES
@import './utils/variables';


// BASE STYLES
@import "./base/base";
@import "./base/reset";


// COMPONENTS STYLES
@import "./components/container";
@import "./components/tittle";
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/steps";
@import "./components/services";
@import "./components/button";
@import "./components/swiper";

