$global-color: #212121;
$accent-color: #952716;
$accent-color-blue: #2c506a;
$global-text-color: #FFFFFF;

//--------------------------------TRANSITION------------------------
$main-transition: all .4s ease;

// ---------------------FONT-FAMILY----------------------------------
$second-font-family: "Asap Condensed", sans-serif;