.about {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about .about__container {
    outline: 5px solid tomato;
    display: flex;
    gap: 20px;
}
// .about__features-list {
// }
// .about__features-item {
// }
// .about__features-icon {
// }
// .about__features-text {
// }
// .about__content-box { 
//     width: 55%;  
// }
// .about__tittle {
// }
// .about__subtitle {
// }
// .about__description {
// }
// .about_button {
// }
.about__img-box {
    min-width: 50%;
}

.about__img-box img{
    margin-bottom: 20px;
}