.feedback {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #952716;
}
.feedback__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.feedback__info-box {
    width: 40%;
}
.feedback__subtitle {
    margin-bottom: 15px;
    font-size: 40px;
}
.subtitle {
}
.feedback__description {
}
.description {
}
.feedback__form {
    flex-grow: 1;
}
.feedback__fields-box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}
.feedback__field {
    display: block;
    height: 35px;
    padding: 5px 5px 5px 10px;
    margin-top: 7px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}
.field-textarea {
    display: block;
    width: 100%;
    margin-left: 20px;
    margin-right: 9px;
}
.textarea {
    width: 100%;
}
.button.feedback__button {
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 5px;
    background-color: #212121;
    color: #e4e1e1;
    transition: all .4s ease;
}
.button.feedback__button:hover, .button.feedback__button:focus {
    background-color: $accent-color-blue;
    color: $global-text-color;
}
.feedback__icon {
    fill: $global-text-color;
}