.feedback {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #952716;
}
.feedback__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.feedback__info-box {
    width: 45%;
}
.feedback__subtitle {
    margin-bottom: 15px;
    font-size: 40px;
}
.subtitle {
}
.feedback__description {
}
.description {
}
.feedback__form {
}
.feedback__fields-box {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.feedback__field {
    display: block;
    height: 35px;
    padding: 5px;
    margin-top: 7px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}
.textarea {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 10px;
}
.button.feedback__button {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: #212121d7;
    color: #aaa5a5;
}
.button.feedback__button:hover, .button.feedback__button:focus {
    background-color: $global-color;
    color: $global-text-color;
}