.header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__container {
    padding-top: 25px;
}
// .logo {
// }
.nav__box {
    display: flex;
    gap: 25px;
}
.nav__list {
    display: flex;
    gap: 15px;
}
.nav__link {
    padding: 15px;
    display: block;
    color: $global-text-color;
    transition: all .4s ease;
}

.nav__link:hover, .nav__link:focus {
    color: $accent-color;
}
// .nav__button {
// }
// .button {
// }
.gecor-figure {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 63%;
    border-bottom: 100px solid $global-color;
    border-left: 30px solid transparent;
}