.header {
    position: relative;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container {
    padding-top: 20px;
}

.logo {
    padding: 15px;
    display: block;
}

.nav__box {
    border-color: azure;
    display: flex;
    gap: 25px;
}

.nav__list {
    display: flex;
    gap: 15px;
}

.nav__link {
    padding: 15px;
    display: block;
    color: $global-text-color;
    transition: all .4s ease;
}

.nav__link:hover, .nav__link:focus {
    color: $accent-color;
}

.nav__item {
}

.nav__button {
}

.gecor-figure {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-left: auto;
    width: 62.5%;
    height: 100px;
    border-bottom: 100px solid rgb(191, 218, 216);
    border-left: 30px solid transparent;

}