.hero {
    background-image: url("https://ulight.ru/uploads/images/storage/original/e3af04dec421cdd5a554a621ce4c2bf2.jpeg");
    // background-image: url("https://fotki.ucoz.ua/_ph/11/274039521.jpg?1686284404");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.6;
    // min-height: 100vh;
}
// .hero::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     background: rgba(33, 33, 33, 0.65);
//     z-index: -1;
// }

.hero .hero__container {
    // outline: 5px solid tomato;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 100vh;


}

.hero__content {
    width: 50%;
}

// .hero__title {
//     display: block;
//     margin-bottom: 20px;
//     font-size: 22px;
//     line-height: 1.2em;
// }

// .hero__title::after {
//     content: "";
//     display: inline-block;
//     height: 2px;
//     width: 100px;
//     margin-left: 15px;
//     background-color: $accent-color;
//     vertical-align: middle;
// }

// .hero__subtitle {
//     display: inline-block;
//     margin-bottom: 20px;

//     font-size: 56px;
//     line-height: normal;
// }

.hero__subtitle--acctent {
    display: inline-block;
    color: $accent-color;
}

// .hero__description {
//     margin-bottom: 20px;
//     font-family: $second-font-family;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 1.4em;
// }
// .hero__button {
// }
// .button {
// }