// .swiper {
//     // width: 600px;
//     // height: 300px;
// }
// .mySwiper {
// }
.swiper-wrapper {
    margin-bottom: 7px;
}
.swiper-slide {
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
}
.swiper-slide img {
    width: 100%;
    // object-fit: cover;
}
.swiper-pagination {
    position: static;
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: $accent-color;
}
// .swiper-button-prev {
// }
// .swiper-button-next {
// }