// .swiper {
//     // width: 600px;
//     // height: 300px;
// }
// .mySwiper {
// }
.swiper-wrapper {
    margin-bottom: 10px;
}
.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
}
.swiper-slide img {
    width: 58%;
    object-fit: cover;
}
.swiper-pagination {
    position: static;
    margin-left: auto;
    margin-right: auto;
}
// .swiper-button-prev {
// }
// .swiper-button-next {
// }